html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body{
    background-color: #0c0c1d;
    color:lightgray;
}

a{
    text-decoration: none;
    color: inherit;
}

section{
    height: 100vh;
    scroll-snap-align: center;
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}

 ::-webkit-scrollbar {
    width: 6px;
} 

/* Track */
::-webkit-scrollbar-track {
    background-color: white;
} 

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgba(39, 23, 79, 0.953);
} 

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(29,17,138,0.6);
} 